# 忽略除了.js、.cpp、.c、.py和.md文件以外的所有文件和文件夹
# *
*
!*.*          
# 保留所有文件
!*/          

# 但是，保留.js、.cpp、.c、.py和.md文件
!*.js
!*.cpp
!*.c
!*.py
!*.md
*.out
*.cmake
*.bin
build/
install/
.cache/
CMakeFiles/
dll/
*.a
*.o 
*pycache*/
# 忽略除了.js、.cpp、.c、.py和.md文件以外的所有文件和文件夹
# /*

# 但是，保留.js、.cpp、.c、.py和.md文件（递归）
# !**/          # 保留所有文件夹
# !*.js
# !**/*.cpp
# !**/*.c
# !/*.py
# !/*.md
a
a.py
cpp/valgrind/massif.out.3015514
python/test_proto/test_simulation_proto
tmptest
cpp/benchmark/sltbench
